<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h1 style="text-align: center">Home</h1>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci nibh. Curabitur porttitor
                dignissim suscipit. Aenean tristique pellentesque augue vel porttitor. Quisque sed libero non nisl
                fermentum hendrerit. Maecenas elit orci, porta et bibendum quis, placerat non urna. Nullam cursus vel
                ante a volutpat. Nullam at finibus nisi. Nulla tincidunt pharetra laoreet. Vivamus sit amet egestas
                turpis, at vulputate purus. Vestibulum malesuada dui id augue facilisis, in pulvinar sem auctor.

                Duis euismod enim non nisl commodo, in elementum orci consequat. Phasellus hendrerit lectus id euismod
                pretium. Nunc vitae condimentum dui, in efficitur dui. Nam vitae auctor ante. Morbi convallis elementum
                scelerisque. Etiam libero orci, pulvinar sit amet cursus et, consectetur sit amet elit. Donec ipsum
                ipsum, pulvinar imperdiet velit sed, congue facilisis dui. Duis vitae ullamcorper nisi, et volutpat
                lacus. Proin maximus id vulputate sagittis. In quis elit lobortis, tincidunt velit vitae,
                tristique augue. Maecenas facilisis efficitur ex, at laoreet orci pharetra vel. Sed convallis, sapien
                elementum iaculis consectetur, diam dui congue mauris, vitae volutpat mauris libero sed dui.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci nibh. Curabitur porttitor
                dignissim suscipit. Aenean tristique pellenesque augue vel porttitor. Quisque sed libero non nisl
                fermentum hendrerit. Maecenas elit orci, porta et bibendum quis, placerat non urna. Nullam cursus vel
                ante a volutpat. Nullam at finibus nisi. Nulla tincidunt pharetra laoreet. Vivamus sit amet egestas
                turpis, at vulputate purus. Vestibulum malesuada dui id augue facilisis, in pulvinar sem auctor.

                Duis euismod enim non nisl commodo, in elementum orci consequat. Phasellus hendrerit lectus id euismod
                pretium. Nunc vitae condimentum dui, in efficitur dui. Nam vitae auctor ante. Morbi convallis elementum
                scelerisque. Etiam libero orci, pulvinar sit amet cursus et, consectetur sit amet elit. Donec ipsum
                ipsum, pulvinar imperdiet velit sed, congue facilisis dui. Duis vitae ullamcorper nisi, et volutpat
                lacus. Proin maximus justo id vulputate sagittis. In quis elit lobortis, tincidunt velit vitae,
                tristique augue. Maecenas facilisis efficitur ex, at laoreet orci pharetra vel. Sed convallis, sapien
                elementum iaculis consectetur, diam dui congue mauris, vitae volutpat mauris libero sed dui.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci nibh. Curabitur porttitor
                dignissim suscipit. Aenean tristique pellentesque augue vel porttitor. Quisque sed libero non nisl
                fermentum hendrerit. Maecenas elit orci, porta et bibendum quis, placerat non urna. Nullam cursus vel
                ante a volutpat. Nullam at finibus nisi. Nulla tincidunt pharetra laoreet. Vivamus sit amet egestas
                turpis, at vulputate purus. Vestibulum malesuada dui id augue facilisis, in pulvinar sem auctor.

                Duis euismod enim non nisl commodo, in elementum orci consequat. Phasellus hendrerit lectus id euismod
                pretium. Nunc vitae condimentum dui, in efficitur dui. Nam vitae auctor ante. Morbi convallis elementum
                scelerisque. Etiam libero orci, pulvinar sit amet cursus et, consectetur sit amet elit. Donec ipsum
                ipsum, pulvinar imperdiet velit sed, congue facilisis dui. Duis vitae ullamcorper nisi, et volutpat
                lacus. Proin maximus justo id vulputate sagittis. In quis elit lobortis, tincidunt velit vitae,
                tristique augue. Maecenas facilisis efficitur ex, at laoreet orci pharetra vel. Sed convallis, sapien
                elementum iaculis consectetur, diam dui congue mauris, vitae volutpat mauris libero sed dui.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci nibh. Curabitur porttitor
                dignissim suscipit. Aenean tristique pellentesque augue vel porttitor. Quisque sed libero non nisl
                fermentum hendrerit. Maecenas elit orci, porta et bibendum quis, placerat non urna. Nullam cursus vel
                ante a volutpat. Nullam at finibus nisi. Nulla tincidunt pharetra laoreet. Vivamus sit amet egestas
                turpis, at vulputate purus. Vestibulum malesuada dui id augue facilisis, in pulvinar sem auctor.

                Duis euismod enim non nisl commodo, in elementum orci consequat. Phasellus hendrerit lectus id euismod
                pretium. Nunc vitae condimentum dui, in efficitur dui. Nam vitae auctor ante. Morbi convallis elementum
                scelerisque. Etiam libero orci, pulvinar sit amet cursus et, consectetur sit amet elit. Donec ipsum
                ipsum, pulvinar imperdiet velit sed, congue facilisis dui. Duis vitae ullamcorper nisi, et volutpat
                lacus. Proin maximus justo id vulputate sagittis. In quis elit lobortis, tincidunt velit vitae,
                tristique augue. Maecenas facilisis efficitur ex, at laoreet orci pharetra vel. Sed convallis, sapien
                elementum iaculis consectetur, diam dui congue mauris, vitae volutpat mauris libero sed dui.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci nibh. Curabitur porttitor
                dignissim suscipit. Aenean tristique pellentesque augue vel porttitor. Quisque sed libero non nisl
                fermentum hendrerit. Maecenas elit orci, porta et bibendum quis, placerat non urna. Nullam cursus vel
                ante a volutpat. Nullam at finibus nisi. Nulla tincidunt pharetra laoreet. Vivamus sit amet egestas
                turpis, at vulputate purus. Vestibulum malesuada dui id augue facilisis, in pulvinar sem auctor.

                Duis euismod enim non nisl commodo, in elementum orci consequat. Phasellus hendrerit lectus id euismod
                pretium. Nunc vitae condimentum dui, in efficitur dui. Nam vitae auctor ante. Morbi convallis elementum
                scelerisque. Etiam libero orci, pulvinar sit amet cursus et, consectetur sit amet elit. Donec ipsum
                ipsum, pulvinar imperdiet velit sed, congue facilisis dui. Duis vitae ullamcorper nisi, et volutpat
                lacus. Proin maximus justo id vulputate sagittis. In quis elit lobortis, tincidunt velit vitae,
                tristique augue. Maecenas facilisis efficitur ex, at laoreet orci pharetra vel. Sed convallis, sapien
                elementum iaculis consectetur, diam dui congue mauris, vitae volutpat mauris libero sed dui.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci nibh. Curabitur porttitor
                dignissim suscipit. Aenean tristique pellentesque augue vel porttitor. Quisque sed libero non nisl
                fermentum hendrerit. Maecenas elit orci, porta et bibendum quis, placerat non urna. Nullam cursus vel
                ante a volutpat. Nullam at finibus nisi. Nulla tincidunt pharetra laoreet. Vivamus sit amet egestas
                turpis, at vulputate purus. Vestibulum malesuada dui id augue facilisis, in pulvinar sem auctor.

                Duis euismod enim non nisl commodo, in elementum orci consequat. Phasellus hendrerit lectus id euismod
                pretium. Nunc vitae condimentum dui, in efficitur dui. Nam vitae auctor ante. Morbi convallis elementum
                scelerisque. Etiam libero orci, pulvinar sit amet cursus et, consectetur sit amet elit. Donec ipsum
                ipsum, pulvinar imperdiet velit sed, congue facilisis dui. Duis vitae ullamcorper nisi, et volutpat
                lacus. Proin maximus justo id vulputate sagittis. In quis elit lobortis, tincidunt velit vitae,
                tristique augue. Maecenas facilisis efficitur ex, at laoreet orci pharetra vel. Sed convallis, sapien
                elementum iaculis consectetur, diam dui congue mauris, vitae volutpat mauris libero sed dui.
            </p>
            <hr />

        </div>
        <div class="sidebar col-md-3">
            <h3>Szybki kontakt</h3>

            <a href="https://www.facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/dejgon" target="_blank"><i class="fa fa-instagram"
                    aria-hidden="true"></i></a>
            <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="scroll">
    <button class="btn btn-success scrollBtn">
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    </button>
</div>
<div class="footer">
    <p>Copyrights &copy; Damian Cop | 2019</p>
</div>
<script type="text/javascript" src="js/navbar.js"></script>