<div class="navbar">

</div>
<div class="container list">
    <div class="progress">
        <div id="dynamic" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="answersContainer">
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
        <div class="userAnswer"></div>
    </div>
    Question: <h4 class="question"></h4>

    Answers:
    <ul class="list-group">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
    </ul>

    <div class="buttons">
        <button class="btn btn-danger previous">Previous</button>
        <button class="btn btn-success next">Next</button>
        <button class="btn btn-success result none">Results</button>
    </div>

    <h4>Your score: <span class="score">0</span>/20 points.</h4>
    <h4>Question <span class="index">0</span>/20.</h4>

<div class="container results" style="display: none">
    <div class="btn-group-custom">
        <button class="btn btn-success btn-custom restart">Retake quiz</button>
    </div>
    <div class="score">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Point/20</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Your score</th>
                <td class="userScorePoint"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="scroll">
    <button class="btn btn-success scrollBtn">
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    </button>
 </div>
 <div class="footer"><p>Copyrights &copy; Damian Cop | 2019</p></div>
<script type="text/javascript" src="js/navbar.js"></script>
<script src="js/script.js"></script>
<script src="js/navbar.js"></script>